@import url(main.css);

.header{
    width: 100%;
    background-color: var(--green-color);
}

.header-cont{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-item{
    display: flex;
    gap: 20px;
}

.header-link{
    font-size: 18px;
    color: #fff;
}

.header-link:hover{
    color: #F2BE22;
    font-size: 20px;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    z-index: 10;
}

.burger span {
    width: 24px;
    height: 3px;
    background: #fff;
    transition: 0.3s;
}

@media(max-width:850px){
    .burger{
        display: flex;
        padding-left: 90%;
    }

    .burger.act span:nth-child(1) { transform: translateY(8px) rotate(45deg); }
    .burger.act span:nth-child(2) { opacity: 0; }
    .burger.act span:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }

    .header-item{
        padding: 50px 24px;
        position: absolute;
        right: -100%;
        top: 0;
        background: #222222;
        width: 100%;
        height: 100vh;
        align-items: center;
        transition: 0.5s;
        display: none;
    }

    .header-item.act{
        display: block;
        right: 0;
    }
}