@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.padding-container{
    padding: 30px 0;
}

.f5{
    background-color: #f5f5f5;
}

.green{
    background-color: var(--green-color);
}

:root{
    --green-color:#1A3E3E;
}