@import url(main.css);

.sub-header{
    background: url(../image/subheader.webp);
    width: 100%;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 

.title{
    font-size: 50px;
    color: #fff;
}

.title-cont{
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.button{
    width: 120px;
    height: 44px;
    padding: 12px;
    border-radius: 4px;
    background-color: var(--green-color);
    border: none;
    cursor: pointer;
    color: #fff;
    text-align: center;
}

@media(max-width:850px){
    .title{
        font-size: 40px;
    }
}

@media(max-width:450px){
    .title{
        font-size: 25px;
    }
}